<ion-content [fullscreen]="true" class="backgroundColor ion-padding">

  <ion-header>
    Lista de pacientes
  </ion-header>

  <ion-item>
    <ion-input
      type="search"
      placeholder="Buscar"
      labelPlacement="stacked"
      id="search"
      name="search"
      clearInput>
    </ion-input>

    <ion-icon id="iconSearch" name="search-outline"></ion-icon>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nome do paciente</ion-card-title>
      <ion-card-subtitle>Informações do paciente</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Idade: 00 anos</ion-label>
      <ion-label>Sexo: Masculino</ion-label>
      <ion-label>Data de nascimento: 00/00/0000</ion-label>
      <ion-label>Endereço: Rua, 00 - Bairro, Cidade - UF</ion-label>
    </ion-card-content>

    <ion-button>Alterar dados do paciente</ion-button>
    <ion-button>Alterar dados do diagnóstico</ion-button>
  </ion-card>
</ion-content>
