<ion-content [fullscreen]="true">
  <div class="align-center-container">
    <form>

      <ion-img src="./assets/images/logo-completa.png"></ion-img>

      <div class="texts">
        <h2>LOGIN</h2>
        <p>Bem vindo de volta!</p>
        <p>Por favor entre com suas credenciais</p>
      </div>

      <ion-list>

        <ion-item>

          <ion-input label="Email" labelPlacement="stacked" type="text" id="email" name="email"
                     placeholder="Insira seu email" [(ngModel)]="loginInterface.email" (ionInput)="changeValues()">
          </ion-input>
          @if(!emailValid){
            <small class="error-msg">Formato de email inválido.</small>
          }

        </ion-item>

        <ion-item>

          <ion-input label="Senha" labelPlacement="stacked" type="password" id="password" name="password"
                     placeholder="Insira sua senha" [(ngModel)]="loginInterface.password" (ionInput)="changeValues()">
          </ion-input>

          <ion-icon id="iconPassword" name="eye-off-outline" (click)="toggleType('password', 'iconPassword')"></ion-icon>

        </ion-item>

        <div class="horizontal-line">
          <ion-checkbox name="remember" labelPlacement="end">Lembrar login</ion-checkbox>
          <p>Esqueci minha senha</p>
        </div>

      </ion-list>

      <ion-button expand="block" [disabled]="emptyValues" (click)="login()">Entrar</ion-button>

      <div class="texts">
        <p>Não possui uma conta?</p>
        <p (click)="goToRegister()">Cadastre-se</p>
      </div>
    </form>
  </div>

</ion-content>
