<ion-item>

  <ion-input label="Email" labelPlacement="stacked" type="text" id="email" name="email"
             placeholder="Insira seu email" [(ngModel)]="loginData.email" (ionChange)="emitValues()">
  </ion-input>

</ion-item>

<ion-item>

  <ion-input label="Senha" labelPlacement="stacked" type="password" id="password" name="password"
             placeholder="Insira sua senha" [(ngModel)]="loginData.password" (ionChange)="emitValues()">
  </ion-input>

</ion-item>

<ion-item>

  <ion-input label="Confirme sua senha" labelPlacement="stacked" type="password" id="confirmPassword" name="confirmPassword"
             placeholder="Confirme sua senha">
  </ion-input>

</ion-item>
