<ion-item>

  <ion-input label="Email" labelPlacement="stacked" type="text" id="email" name="email"
             placeholder="Insira seu email" [(ngModel)]="loginData.email" (ionInput)="emitValues()">
  </ion-input>
  @if(!emailValid){
    <small class="error-msg">Formato de email inválido.</small>
  }

</ion-item>

<ion-item>

  <ion-input label="Senha" labelPlacement="stacked" type="password" id="password2" name="password"
             placeholder="Insira sua senha" [(ngModel)]="loginData.password" (ionInput)="emitValues()">
  </ion-input>

  <ion-icon id="iconPassword2" name="eye-off-outline" (click)="toggleType('password2', 'iconPassword2')"></ion-icon>

</ion-item>
