<ion-content [fullscreen]="true" class="backgroundColor ion-padding">

  <ion-header>
    Dados do diagnóstico
  </ion-header>

  <form action="">
    <ion-list>

      <ion-item>
        <ion-select label="Diagnóstico" placeholder="selecione" name="diagnostic">
          <ion-select-option value="positivo">Positivo</ion-select-option>
          <ion-select-option value="negativo">Negativo</ion-select-option>
          <ion-select-option value="inconclusivo">Inconclusivo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Tipo de diagnóstico" placeholder="selecione" name="typeDiagnostic">
          <ion-select-option value="elisa">ELISA</ion-select-option>
          <ion-select-option value="rifi">RIFI</ion-select-option>
          <ion-select-option value="testeRapido">Teste Rápido</ion-select-option>
          <ion-select-option value="citologia">Citologia</ion-select-option>
          <ion-select-option value="pcr">PCR</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Sinais clínicos"
          labelPlacement="stacked"
          fill="solid"
          type="tel"
          id="clinicalSigns"
          name="clinicalSigns"
          placeholder="sinais clínicos">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <div class="buttons">
      <div class="align-right blue">
        <ion-button>
          Salvar
          <ion-icon slot="end" name="save"></ion-icon>
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
