<ion-content [fullscreen]="true" class="backgroundColor ion-padding">

  <ion-header>
    Dados do diagnóstico
  </ion-header>

  <form action="">
    <ion-list>

      <ion-item>
        <ion-select label="Diagnóstico" placeholder="selecione" name="diagnostic" (ionChange)="verifyValues()" [(ngModel)]="patientDiagnostic.diagnosis">
          <ion-select-option [value]="Diagnosis.POSITIVO">Positivo</ion-select-option>
          <ion-select-option [value]="Diagnosis.NEGATIVO">Negativo</ion-select-option>
          <ion-select-option [value]="Diagnosis.INCONCLUSIVO">Inconclusivo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Tipo de diagnóstico" placeholder="selecione" name="typeDiagnostic" (ionChange)="verifyValues()" [(ngModel)]="patientDiagnostic.diagnosisType">
          <ion-select-option [value]="DiagnosisType.ELISA">ELISA</ion-select-option>
          <ion-select-option [value]="DiagnosisType.RIFI">RIFI</ion-select-option>
          <ion-select-option [value]="DiagnosisType.TESTE_RAPIDO">Teste Rápido</ion-select-option>
          <ion-select-option [value]="DiagnosisType.CITOLOGIA">Citologia</ion-select-option>
          <ion-select-option [value]="DiagnosisType.PCR">PCR</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Sinais clínicos"
          labelPlacement="stacked"
          fill="solid"
          type="tel"
          id="clinicalSigns"
          name="clinicalSigns"
          placeholder="sinais clínicos"
          (ionInput)="verifyValues()"
          [(ngModel)]="patientDiagnostic.clinicalSigns">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <div class="buttons">
      <div class="align-right blue">
        <ion-button [disabled]="emptyValues" (click)="save()">
          Salvar
          <ion-icon slot="end" name="save"></ion-icon>
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
