<ion-item>

  <ion-input label="Nome" labelPlacement="stacked" type="text" id="name" name="name"
             placeholder="Insira seu nome">
  </ion-input>

</ion-item>

<ion-item>

  <ion-input label="Celular" labelPlacement="stacked" type="text" id="phone" name="phone"
             placeholder="Insira seu celular">
  </ion-input>

</ion-item>

<ion-item>

  <ion-input label="Clínica/Hospital" labelPlacement="stacked" type="text" id="clinic" name="clinic"
             placeholder="Insira o nome da clínica/hospital">
  </ion-input>

</ion-item>

<ion-item>

  <ion-input label="CRMV" labelPlacement="stacked" type="text" id="crmv" name="crmv"
             placeholder="Insira seu CRMV">
  </ion-input>

</ion-item>
